@import "~bootstrap/scss/bootstrap";

* {
  padding: 0;
  margin: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");


@font-face {
  font-family: 'Gordita Regular';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Gordita Regular'), url('./assets/fonts/Gordita Regular.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Gordita';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: local('Gordita Light'), url('./assets/fonts/Gordita Light.woff') format('woff');
  }
  

  @font-face {
  font-family: 'Gordita';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local('Gordita Medium'), url('./assets/fonts/Gordita Medium.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Gordita';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local('Gordita Bold'), url('./assets/fonts/Gordita Bold.woff') format('woff');
  }
  


  @font-face {
  font-family: 'Gordita';
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: local('Gordita Black'), url('./assets/fonts/Gordita Black.woff') format('woff');
  }
  

  .App{
    max-width: 1600px;
    margin: auto;
  }

body {
  font-family: "Gordita",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji" !important;
font-size: 0.875rem;
font-weight: normal !important;
line-height: 1.5;
color: #4a4a4a !important;
text-align: left;
}

.width1{
  width: 11% !important;
}
.width2{
  width: 67% !important;
}
.width3{
  width: 22% !important;
}
.topNav{
  position: relative;
  background-color: #000;
  color: #fff;
  
  center{
    padding-top: 0.35rem;
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 0.08rem;
  }
  img{
    width: 21px;
    border-radius: 50%;
    height: 21px;
  }
  .btn-primary.dropdown-toggle{
    font-size: 0.7rem;
    font-weight: lighter;
    letter-spacing: 0.08rem;
  }
  .icon.arrow-down::before{
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23292b2c' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'></path></svg>");
  }

  .btn-primary{
    &:hover{
      background: none;
      outline: none;
      border: none;
    }
    background: none;
    outline: none;
    border: none;
  }

  .btn-check:active + .btn-primary, .btn-check:checked + .btn-primary, .btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle{
    background: none;
      outline: none;
      border: none;
      box-shadow: none;
  }

  .btn-check:active + .btn-primary:focus, .btn-check:checked + .btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show > .btn-primary.dropdown-toggle:focus{
    box-shadow: none;
  }

  ul{
    padding: 0;
    list-style: none;
    padding: 0;
    float: right;
    clear: right;
    display: flex;
    margin: 0;
    li{
      float: left;
      padding: 0 10px;
      span{
        font-size: 10px;
      }
    }
  }

  

}

.dark{
  // background-color: #000;
  // color: #ff7ba0;
  // font-size: 1.3rem;
  // font-weight: bold;
  // letter-spacing: 5px;
  // padding: 5px 0;

  background-image: url('http://localhost:1229/assets/bar.png');
  background-size: auto;
  height:50px;

  ul{
    list-style: none;
    padding: 0;
    li{
      float: left;
    }
  }
}

.swati-logo {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 111.39 21.02' fill='%23292b2c'><g><path d='m110.05 19.44a.51.51 0 0 0 .33-.5.55.55 0 0 0 -.62-.55h-.69v1.74h.36v-.63h.27l.32.63h.39zm-.31-.27h-.31v-.44h.3c.14 0 .29.05.29.22s-.15.22-.28.22z'/><path d='m109.69 17.59a1.7 1.7 0 1 0 1.7 1.7 1.7 1.7 0 0 0 -1.7-1.7zm0 3.09a1.39 1.39 0 0 1 0-2.78 1.39 1.39 0 0 1 0 2.78z'/><path d='m9.9 8.67-2.84-.52c-1.49-.28-2.06-1.15-2.06-2.15 0-1.2 1.22-2.26 3-2.26a3.37 3.37 0 0 1 3.57 2.78l3.83-1.14c-.4-2.57-2.74-5.38-7.46-5.38-3.94 0-7.21 2.71-7.21 6.36 0 3.1 2.14 5.2 5.44 5.86l2.89.57c1.41.29 2.32 1.12 2.32 2.13 0 1.26-1.12 2.3-3.07 2.3a4.1 4.1 0 0 1 -4.38-3.47l-3.93.94c.65 3.86 3.28 6.31 8.18 6.31s7.47-3.2 7.47-6.36c0-2.87-1.98-5.29-5.75-5.97z'/><path d='m77.14 4.4h5.41v16.31h4.19v-16.31h5.43v-4.09h-15.03z'/><path d='m99.55.31h4.22v20.39h-4.22z'/><path d='m66.32.31h-5.08l-7.48 19.59 3.9 1.1 1.73-4.69h8.75l1.76 4.69 3.92-1.13zm-5.55 12.11 3-8 3 8z'/><path d='m30.93 20.71h-4.54l-5.99-20.4h4.51l3.88 14.49 4.4-14.49h4.51l4.4 14.59 4-14.59h4.35l-6 20.4h-4.59l-4.43-14.8z'/></g></svg>");
  background-size: contain;
  background-repeat: no-repeat;
  min-height: 25px;
  height: 32px;
  width: 180px;
  background-position: bottom;
}

.cart{
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 63.53 54' fill='white'><g id='Layer_2' data-name='Layer 2'><g id='Layer_1-2' data-name='Layer 1'><path d='M54.5,43a5.49,5.49,0,0,0-5.33,4.18H19.83a5.47,5.47,0,0,0-2.6-3.45,14.89,14.89,0,0,1,.32-4.51c.27-1.49.53-2.95.88-4.88H57.36l6.17-23.18H16l-1-11L0,0V3.14l12.25,0v0c.13,2.65.39,5.28.71,7.91v.05h0c1.18,9.78,3.09,19.47,1.39,29.43a9.35,9.35,0,0,1-.68,2.49,5.5,5.5,0,1,0,6.17,6.74H49.16A5.5,5.5,0,1,0,54.5,43Z'></path></g></g></svg>");
background-position: bottom;
}

.flex-div{
  display: flex;
  justify-content: center;
}
.navbar-brand{
  float: left;
  margin-right: 4rem !important;
  font-size: 0.7rem !important;
  letter-spacing: 0.07rem !important;

  &:nth-child(1), &:nth-child(2),&:nth-child(4), &:nth-child(5){
    padding-top: 0.8rem;
  }
}
.form-control::placeholder{
  font-size: small;
  color: #cac9c9 !important;
}
.navbar-toggler{
  border: 0 !important;
  outline: none !important;
}

.btn-check:focus + .btn-primary, .btn-primary:focus{
  background-color: transparent;
}
.banner{
  img{
    width: 100%;
  }
}

.home-newsletter {
  padding: 80px 0;
  background: #ff7ba0;
  color: #000;
    .single {
      max-width: 70%;
      margin: 0 auto;
      text-align: center;
      position: relative;
      z-index: 2; 
      p{
        font-weight: 300;
      }
    }
  .single h2 {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.3rem;
    .form-control {
      height: 50px;
      background: rgba(255, 255, 255, 0.6);
      border-color: transparent;
    }
    &:focus {
      box-shadow: none;
      border-color: #cecece; 
    }
  }
  input{
    text-align: center;
    border-radius: 0;
  }
  .btn {
    min-height: 50px; 
    text-transform: uppercase;
    color: #ff7ba0;
    font-weight: bold;
    letter-spacing: 0.15rem;
    padding: 0 2rem;
    background-color: #000;
    border-radius: 0;
    &:hover{
      color: #fff;
    }
  }
}

.home-vip-access {
  padding: 80px 0;
  background: #540cc9;

  img{
    width: 90%;
  }
  .single{
    p{
      font-weight: 200 !important;
      font-size: 0.9rem !important;
      margin-bottom: 30px;
    }
    h2{
      text-transform: uppercase;
      font-size: 1.4rem;
      font-weight: bold;
      letter-spacing: 0.2rem;
      color: #ff7ba0;
    }
    h6{
      text-transform: uppercase;
      font-size: 3rem;
      font-weight: bold;
      letter-spacing: 0.1em;
      color: #ff7ba0;
    }
    p{
      color: #fff;

    }
  }
  svg{
    fill: #ff7ba0;
  }
  ul{
    list-style: none;
    padding: 0;
    li{
      margin-bottom: 1rem;
      h2{
        color: #fff !important;
        text-transform: none !important;
        font-size: 1rem !important;
        margin-bottom: 0 !important;
        letter-spacing: 0 !important;
      }
    }
  }
}





@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');
body{
  font-family: 'Muli', sans-serif;
  background:#ddd;
}
.shell{
  padding:20px 0;
}
.wsk-cp-product{
  background:#fff;
  padding:15px;
  border-radius:6px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position:relative;
  margin:20px auto;
}
.wsk-cp-img{
  position:absolute;
  top:5px;
  left:50%;
  transform:translate(-50%);
  -webkit-transform:translate(-50%);
  -ms-transform:translate(-50%);
  -moz-transform:translate(-50%);
  -o-transform:translate(-50%);
  -khtml-transform:translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-img img{
  width:100%;
  transition: all 0.2s ease-in-out;
  border-radius:6px;
}
.wsk-cp-product:hover .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product:hover .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.wsk-cp-text{
  padding-top:110%;
}
.wsk-cp-text .category{
  text-align:center;
  font-size:12px;
  font-weight:bold;
  padding:5px;
  margin-bottom:45px;
  position:relative;
  transition: all 0.2s ease-in-out;
}
.wsk-cp-text .category > *{
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -o-transform: translate(-50%,-50%);
  -khtml-transform: translate(-50%,-50%);
    
}
.wsk-cp-text .category > span{
  padding: 12px 30px;
  border: 1px solid #313131;
  background:#212121;
  color:#fff;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  border-radius:27px;
  transition: all 0.05s ease-in-out;
  
}
.wsk-cp-product:hover .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product:hover .wsk-cp-text .category{
  margin-top: 0px;
}
.wsk-cp-text .title-product{
  text-align:center;
  margin-bottom: 1rem;
}
.wsk-cp-text .title-product h3{
  font-size:14px;
  // font-weight:bold;
  // margin:15px auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width:100%;
}
.wsk-cp-text .description-prod p{
  margin:0;
  font-size: 10px;
}
/* Truncate */
.wsk-cp-text .description-prod {
  width: 100%;
  // height:62px;
  overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  margin-bottom:15px;
  color: #773c18;
}
.text-right{
  text-align: right;
  color: #6c757d;
  h1{
  font-size: 14px; 
  }
  span{
    font-size: 0.7rem !important;
    letter-spacing: 0.05rem !important;
  } 

}

del{
  font-size: 12px;
  margin-right: 5px;
  color: rgb(255, 123, 160);
}
.offer_pct{
  font-size: 12px;
  color: rgb(6, 167, 89);
}
.card-footer{
  padding: 25px 0 5px;
  border-top: 0 !important;
}
.card-footer:after, .card-footer:before{
  content:'';
  display:table;
}
.card-footer:after{
  clear:both;
}

.card-footer .wcf-left{
  float:left;
}
.wcf-left{
  margin-bottom: 0.5rem;
  width: 60%;
  float: left;
}
.wcf-left2{
  width: 40%;
  float: left;
  p{
    font-size: 12px;
    margin: 1rem 0 0;
    span{
      font-size: 10px;
    }
  }
}

.card-footer .wcf-right{
  float:right;
}

.price{
  font-size:18px;
  font-weight:bold;
}

a.buy-btn{
  color: #212121;
  text-align: center;
  font-size: 14px;
  height: 35px;
  line-height: 1;
  border: 1px solid #212121;
  transition: all 0.2s ease-in-out;
  padding: 8px 15px;
  text-decoration: none;
  width: 100% !important;
  display: block;
}
a.buy-btn:hover , a.buy-btn:active, a.buy-btn:focus{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
  text-decoration:none;
}
.wsk-btn{
  display:inline-block;
  color:#212121;
  text-align:center;
  font-size: 18px;
  transition: all 0.2s ease-in-out;
  border-color: #FF9800;
  background: #FF9800;
  padding:12px 30px;
  border-radius:27px;
  margin: 0 5px;
}
.wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active{
  text-decoration:none;
  color:#fff;
}  
.red{
  color:#ff7ba0;
  font-size:22px;
  display:inline-block;
  margin: 0 5px;
}

@media screen and (max-width: 480px) {
  .product{
    .text-right{
      text-align: center;
    }
  }
}
@media screen and (max-width: 991px) {
  .product{
    nav{
    display: none;
    }
  }
  .home-newsletter {
    .single{
      max-width: 100%;
    }
    .btn{
      padding: 0 1rem;
    }
  }

  .home-vip-access{
    img{
      width: 100%;
    }
  }
  
  .topNav{
    display: none;
  }
  .flex-div {
    a{
      &:nth-child(1), &:nth-child(2),&:nth-child(4),&:nth-child(5){
        display: none;
      }
    }
  }
  .wsk-cp-product{
    margin:40px auto;
  }
  .wsk-cp-product .wsk-cp-img{
  top:-40px;
}
.wsk-cp-product .wsk-cp-img img{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
  .wsk-cp-product .wsk-cp-text .category > span{
  border-color:#ddd;
  box-shadow: none;
  padding: 11px 28px;
}
.wsk-cp-product .wsk-cp-text .category{
  margin-top: 0px;
}
a.buy-btn{
  border-color: #FF9800;
  background: #FF9800;
  color: #fff;
}
}




.product{
  nav{
  float: left;
  margin-right: 4rem !important;
  font-size: 0.7rem !important;
  letter-spacing: 0.05rem !important;
  }
  .breadcrumb{
    margin-bottom: 0rem !important;
    line-height: 2;
  }
}







.card-wrapper{
  max-width: 1100px;
  display: block !important;

  margin: 0 auto;
  height: auto;
  .card{
    display: inline-grid !important;
    border: none;
  }
}
.product-imgs{
  img{
    width: 100%;
    display: block;
  }
}
.img-display{
  overflow: hidden;
}
.img-showcase{
  display: flex;
  width: 100%;
  transition: all 0.5s ease;
}
.img-showcase img{
  min-width: 100%;
}
.img-select{
  display: flex;
}
.img-item{
  margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
  margin-right: 0;
}
.img-item:hover{
  opacity: 0.8;
}
.product-content{
  padding: 2rem 1rem;
}
.product-title{
  font-size: 1.8rem;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
  color: #12263a;
  margin: 3rem 0 0.5rem;
}

.product-link{
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.9rem;
  display: inline-block;
  margin-bottom: 0.5rem;
  background: #256eff;
  color: #fff;
  padding: 0 0.3rem;
  transition: all 0.5s ease;
}
.product-link:hover{
  opacity: 0.9;
}
.product-rating{
  color: #ffc107;
}
.product-rating span{
  font-weight: 600;
  color: #252525;
}
.product-price{
  margin: 1rem 0 0rem;
  font-size: 1rem;
  font-weight: 700;
}
.product-price span{
  font-weight: 400;
}
.last-price{
  span{
  color: #ff7ba0;
  text-decoration: line-through;
  }
  
    margin-bottom: 0 !important;
 
}

.product-detail h2{
  text-transform: capitalize;
  color: #12263a;
  padding-bottom: 0.6rem;
  padding-top: 0.35rem;
  font-size: 0.8rem;
  letter-spacing: 0.08rem;
  opacity: 0.8;
}
.product-detail p{
  padding-top: 0.35rem;
  font-size: 0.85rem;
  font-weight: lighter;
  letter-spacing: 0.08rem;
}
.product-detail ul{
  margin: 1rem 0;
  font-size: 0.9rem;
}
.product-detail ul li{
  margin: 0;
  list-style: none;
  background: url(https://fadzrinmadu.github.io/hosted-assets/product-detail-page-design-with-image-slider-html-css-and-javascript/checked.png) left center no-repeat;
  background-size: 18px;
  padding-left: 1.7rem;
  margin: 0.4rem 0;
  opacity: 0.9;
  padding-top: 0.35rem;
  font-size: 0.8rem;
  font-weight: lighter;
  letter-spacing: 0.08rem;
  span{
  padding-top: 0.35rem;
  font-size: 0.8rem;
  font-weight: lighter;
  letter-spacing: 0.08rem;
  }
}

.purchase-info{
  margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
  border: 1.5px solid #ddd;
  text-align: center;
  padding: 0.45rem 0.8rem;
  outline: 0;
  margin-right: 0.2rem;
  margin-bottom: 1rem;
}
.purchase-info input{
  width: 60px;
}
.purchase-info .btn{
  cursor: pointer;
  color: #fff;
}

.purchase-info .btn:last-of-type{
  background: #ff7ba0;
  border: none;
  border-radius: 0;
  height: 38px;
  padding: 0.3rem 0.8rem;
  margin-top: 11px;
  margin-left: 15px;
}
.purchase-info .btn:hover{
  opacity: 0.9;
}
.social-links{
  display: flex;
  align-items: center;
  p{
    margin: 0;
    font-size: 12px;
  }
}
.social-links a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  color: #000;
  border: 1px solid #000;
  margin: 0 0.2rem;
  border-radius: 50%;
  text-decoration: none;
  font-size: 0.8rem;
  transition: all 0.5s ease;
}
.social-links a:hover{
  background: #000;
  border-color: transparent;
  color: #fff;
}

@media screen and (min-width: 992px){
  
  .card{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 1.5rem;
  }
  .card-wrapper{
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
  }
  .product-imgs{
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .product-content{
      padding-top: 0;
  }
}